$bg-silver: #f5f7fa;
$bg-white: #ffffff;

$primary: #4caf4f;

$neutral-black: #263238;
$neutral-d_grey: #4d4d4d;
$neutral-grey: #717171;

$fs-h800: "64px";
$fs-h700: "36px";
$fs-h600: "28px";
$fs-h500: "20px";

$fs-400: "18px";
$fs-300: "16px";
$fs-200: "14px";
$fs-100: "12px";

$fw-bold: 700;
$fw-semibold: 600;
$fw-regular: 500;
